

/* brand specific style */

/* Zitcom */
body.theme-zitcom :not(.brand-history) .reseller-logo, div.brandpicker a[href="?brand=zitcom"] img {
	background-image: url(https://intranet.zitcom.dk/img/logo/zitcom-logo-white.svg);
}
.brand-icon.brand-zitcom {
	background-image: url(https://gunnyarts.github.io/ShadowCom/images/zitcom-thumb-white.png);
}
/* DanDomain */
.brand-icon.brand-dandomain {background-image: url(https://gunnyarts.github.io/ShadowCom/images/dandomain.png);}
/* ScanNet */
body.theme-scannet .reseller-logo, div.brandpicker a[href="?brand=scannet"]  img, .reseller-logo.reseller-logo-scannet {
    background-image: url(https://intranet.zitcom.dk/img/logo/scannet-logo-white.svg);
}
body.theme-scannet div.relationship-breadcrumb > span > a:hover {
	color: #4CD981;
}
body.theme-scannet .toolbar {
	border-top-color: #4CD981;
}
body.theme-scannet div.menu>ul>li>a:hover, body.theme-scannet div.menu>ul>li.openMenuNode>a, body.theme-scannet div.menu ul.nav-sub li a:hover {
	color: #4CD981;
}
.brand-icon.brand-scannet, .relationship-breadcrumb span.scannet>a span {
	background-image: url(https://gunnyarts.github.io/ShadowCom/images/sc-white.png);
}
body.theme-scannet .list-group-item.active, body.theme-scannet .list-group-item.active:hover, body.theme-scannet .list-group-item.active:focus, body.theme-scannet a.list-group-item:hover, body.theme-scannet button.list-group-item:hover, body.theme-scannet a.list-group-item:focus, body.theme-scannet button.list-group-item:focus {
	background-color: #4CD981;
    border-color: #4CD981;
    color: #111;
}
body.theme-scannet .sidebar .sidebar-nav a:hover, body.theme-scannet .sidebar .sidebar-nav a.active {color: #4CD981;border-bottom-color: #4CD981;}

/* Curanet */
body.theme-curanet :not(.brand-history) .reseller-logo, div.brandpicker a[href="?brand=curanet"] img {
    background-image: url(https://intranet.zitcom.dk/img/logo/curanet-white.png);
}
body.theme-curanet div.relationship-breadcrumb > span > a:hover {
	color: #7AB55C;
}
body.theme-curanet .toolbar {
	border-top-color: #7AB55C;
}
body.theme-curanet div.menu>ul>li>a:hover, body.theme-curanet div.menu>ul>li.openMenuNode>a, body.theme-curanet div.menu ul.nav-sub li a:hover {
	color: #7AB55C;
}
body.theme-curanet .list-group-item.active, body.theme-curanet .list-group-item.active:hover, body.theme-curanet .list-group-item.active:focus, body.theme-curanet a.list-group-item:hover, body.theme-curanet button.list-group-item:hover, body.theme-curanet a.list-group-item:focus, body.theme-curanet button.list-group-item:focus {
	background-color: #7AB55C;
    border-color: #7AB55C;
    color: #111;
}
body.theme-curanet .sidebar .sidebar-nav a:hover, body.theme-curanet .sidebar .sidebar-nav a.active {color: #7AB55C;border-bottom-color: #7AB55C;}

/* Wannafind */
body.theme-wannafind :not(.brand-history) .reseller-logo, div.brandpicker a[href="?brand=wannafind"] img {
    background-image: url(https://intranet.zitcom.dk/img/logo/wannafind.png);
}
body.theme-wannafind div.relationship-breadcrumb > span > a:hover {
	color: #3C73E7;
}
body.theme-wannafind .toolbar {
	border-top-color: #3C73E7;
}
body.theme-wannafind div.menu>ul>li>a:hover, body.theme-curanet div.menu>ul>li.openMenuNode>a, body.theme-curanet div.menu ul.nav-sub li a:hover {
	color: #3C73E7;
}
body.theme-wannafind .list-group-item.active, body.theme-wannafind .list-group-item.active:hover, body.theme-wannafind .list-group-item.active:focus, body.theme-wannafind a.list-group-item:hover, body.theme-wannafind button.list-group-item:hover, body.theme-wannafind a.list-group-item:focus, body.theme-wannafind button.list-group-item:focus {
	background-color: #3C73E7;
    border-color: #3C73E7;
    color: #fff;
}
body.theme-wannafind .sidebar .sidebar-nav a:hover, body.theme-wannafind .sidebar .sidebar-nav a.active {color: #3C73E7;border-bottom-color: #3C73E7;}

/********************/
/* General styles 	*/
/********************/


body {
  background-color: #222;
  color: #eee;
  background-image: url(https://gunnyarts.github.io/ShadowCom/images/dennis/geo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body::before {
	content: "";
    display:block;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(0,0,0,0.30);
    z-index:-1;
}
body > .toolbar {
	background-color: #111;
}
.relationship-breadcrumb span>a {
	color: #e6e6e6;
}



/* Dashboard */

.box {
    background-color: rgba(0,0,0,0.58);
}
.box .box-header {
	background-color: inherit;
    border-color: #444;
}
tr.row-clickable:hover {
	background-color: rgba(0,0,0,0.58)
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-color: transparent;
}

.box .box-header.box-header-flex .lnr.pull-right {
	color: #fff;
}

.box .box-header.box-header-flex .lnr.pull-right:hover {
	color: #aaa;
}
/* waiting orders */
.table>thead>tr>td.warning, .table>tbody>tr>td.warning, .table>tfoot>tr>td.warning, .table>thead>tr>th.warning, .table>tbody>tr>th.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>tbody>tr.warning>td, .table>tfoot>tr.warning>td, .table>thead>tr.warning>th, .table>tbody>tr.warning>th, .table>tfoot>tr.warning>th {
	background-color: transparent;
}
.text-warning {color: #fff;}

/*
.form-control {
	background-color: #333;
    color: #fff;
    border: 1px solid #000;
}
.form-control:focus, .form-control:hover,  .form-control:active {border:0;} 
*/
.login-modal {background-color:#555}
.login-modal:after {background-color: #222}
/* Zenegy */
.dashboard .box-zenegy .box-header img {
    background-image: url(https://gunnyarts.github.io/ShadowCom/images/zenegy-white.png);
    background-size: 106.11px;
    background-repeat: no-repeat;
    height: 20px;
    width: 106.11px;
    box-sizing: border-box;
    padding-left: 106.11px;
}
.dashboard .box-zenegy tr.zenegy.zenegy-vacation {
	color: #5fc2f5;
}

/* Pending orders */
.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
	background-color: #a22323;
}
.text-danger.glyphicon {
	color: #eee;
}

/* Dashboard sidebar */
.dashboard .genfak-circle.genfak-circle-betalingsservice {
    background-image: url(https://gunnyarts.github.io/ShadowCom/images/betalingsservice-white.png);
}
.dashboard .genfak-circle.genfak-circle-zitcom {
    background-image: url(https://intranet.zitcom.dk/img/logo/zitcom-white.png);
}
.dashboard .genfak-circle.genfak-circle-scannet {
	background-image: url(https://intranet.zitcom.dk/img/logo/scannet-white.png);
}
.dashboard .genfak-circle.genfak-circle-curanet {
    background-image: url(https://intranet.zitcom.dk/img/logo/curanet-white.png);
}
.dashboard .genfak-circle.genfak-circle-clouddk {
    background-image: url(https://gunnyarts.github.io/ShadowCom/images/clouddk-white.png);
}
.box .box-content+.box-content {
    border-top: 1px solid #444;
}

/* subscription detail */
.ui-tabs .ui-tabs-nav li {
	background-color: #222;
    border-color: #222;
}
.ui-tabs .ui-tabs-nav li a {
	color: #ccc;
}
.ui-tabs .ui-tabs-nav li a:hover {
	color: #fff !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #333 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	color: #fff !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a:hover {
	color: #fff !important;
}

.content-body .tabsContainer .tabsContent {
	background-color: rgba(17, 17, 17, 0.8);
    border-color: #111;
}
.ui-widget-content {
	color: #eee;
}
.content-body .tabsContainer .tabsContent .tab-streamer {
	background-color: #111;
    border-color: #555;
}

.productAdminTable>tbody>tr.productControl>td {
	background-color: rgba(0,0,0,0.24) !important;
    box-shadow: inset 0 11px 8px -10px #000, inset 0 -11px 8px -10px #000;
}
.table-hover>tbody>tr:hover {
	background-color: #222 !important;
}
.productAdminTable table {
	background-color: transparent !important;
}
.list-group-item, a.list-group-item {
	background-color: #333;
    border-color: #333;
    color: #ccc;
}
.well {background-color: rgba(0,0,0,0.24);border-color:transparent;}
.table-striped>tbody>tr:nth-of-type(odd) {background-color: #111;}

.table>thead>tr>td.success, .table>tbody>tr>td.success, .table>tfoot>tr>td.success, .table>thead>tr>th.success, .table>tbody>tr>th.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>tbody>tr.success>td, .table>tfoot>tr.success>td, .table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th {background-color:#232323;color:#55a60d}

.sidebar {background-color:#222;color:#eee;border-color:#111;}
.sidebar .sidebar-nav, .sidebar .sidebar-buttons, .sidebar .type-container .type-header, .sidebar .sidebar-item {border-color:#444;}
.sidebar .sidebar-item.sidebar-item-clickable:hover, .sidebar .sidebar-item.sidebar-item-clickable.active, .sidebar .sidebarContentHistory .date {background-color:#111;}
.sidebar .sidebar-nav a {color:#ccc;}
.sidebar .sidebar-nav a:hover, .sidebar .sidebar-nav a.active {color: #fff;border-bottom-color: #fff;}

.productAdminTable>tbody>tr.productControlOpen>td {background-color:#444}

/* modal */
.modal-content {background-color: #333;}
.modal-header, .modal-footer {border-color:#111;}

/* Sales */
div.brandpicker a img {
	display:inline-block;
    box-sizing: border-box;
    width:140px;
    height:30px;
    padding-left:140px;
    background-size:140px;
    background-repeat:no-repeat;
    background-position:center center;
}
tbody > tr.mainlevel.open > td, tbody > tr.sublevel > td {
	background-color: #222 !important;
}

table.table>tbody>tr.colorOne {background-color:#111}

.chosen-container .chosen-drop {
    color: #333;
}


div.menu {

    background: #111111;
}

.toolbar .toolbar-header {

    background-color: #111111;
}

/* Notifications */

.toolbar-user-notifications, .toolbar .toolbar-user .toolbar-user-notifications:hover, .toolbar .toolbar-user .toolbar-user-notifications.active {
	background-color: #92032e;
}
.toolbar .toolbar-user .toolbar-user-notifications .toolbar-notification-counter.toolbar-notification-counter-danger {
	background: #fff;
    color: #000;
}

.select2-results__option {
	color: #999;
}
.select2-results__option[aria-selected] {
	background-color:#444;
}
.toolbar .toolbar-user .toolbar-user-notifications .notifications {
	background-color: #333;
}
.toolbar .toolbar-user .toolbar-user-notifications .notifications .notification .notification-description {color:#111}
.toolbar .toolbar-user .toolbar-user-notifications .notifications>ul>li .notification .timeleft.overdue {
	color: #111;
}
div.sidebarNotificationWindow {
	background-color: #444;
	box-shadow: none;
}
div.sidebarNotificationWindow div.sidebarNotificationWindowWrittenBy {
	background-color: inherit;
	border-color: #000;
}

/* Call logger */

.box.box-lightgray {
	background: rgba(0,0,0,0.58);
	color:#eee;
}
.modal-logtime .modal-logtime-line:hover {
	background-color:#222;
}

/* Brand history */
.brand-history {
	background-color: #ddd;
    border-color: #ccc;
    color: #000;
}
.brand-history .text-muted {
	color: inherit;
}
.brand-history-description {
	color: inherit;
}