:root {
  /*******************/
  /* Color Variables */
  /*******************/
  
  
  /* background colors */
  --background-0: #222;
  --background-1: #333;
  --background-2: #1f1f1f;
  
  /* border colors */
  --border: #111;
  --border-contrast: #ccc;
  
  /* font colors */
  --text: #fff;
  --text-contrast: #111;
}

/* General Colors */
body, .loading__main-application, .ember-view {background-color: var(--background-0) !important, color: var(--text)}

/* Platform */

/* Messages */

/* Inbox */

.color-map__early-2018-brand-refresh .conversation__inbox__outlet, .color-map__early-2018-brand-refresh .conversation__inbox__current-conversation {background-color:var(--background-1) !important}

.color-map__early-2018-brand-refresh .conversation__inbox__list-header, .color-map__early-2018-brand-refresh .conversation__inbox__current-context, .color-map__early-2018-brand-refresh .conversation__inbox__list, .color-map__early-2018-brand-refresh .conversation__inbox__list-filter, .color-map__early-2018-brand-refresh .conversation__list__item {background-color: var(--background-2)}

/* Articles */

/* Messenger */

/* Operator */

/* App Store */

/* Product Changes */

/* Settings */

/* Your Account */